apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  creationTimestamp: null
  name: teranode-operator-sr-role
rules:
  - apiGroups:
      - ""
    resources:
      - persistentvolumeclaims
      - deployments
      - configmaps
      - secrets
      - endpoints
    verbs:
      - get
      - list
      - watch
