# permissions for end users to edit alertsystems.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: teranode-operator
    app.kubernetes.io/managed-by: kustomize
  name: alertsystem-editor-role
rules:
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - alertsystems
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - alertsystems/status
  verbs:
  - get
