---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - assets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - assets/finalizers
  verbs:
  - update
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - assets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - blockchains
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - blockchains/finalizers
  verbs:
  - update
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - blockchains/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - nodes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - nodes/finalizers
  verbs:
  - update
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - nodes/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - peers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - peers/finalizers
  verbs:
  - update
- apiGroups:
  - teranode.bsvblockchain.org
  resources:
  - peers/status
  verbs:
  - get
  - patch
  - update
