apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: sr-role-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: teranode-operator-sr-role
subjects:
- kind: ServiceAccount
  name: service-runner
