apiVersion: teranode.bsvblockchain.org/v1alpha1
kind: Cluster
metadata:
  labels:
    app.kubernetes.io/created-by: teranode-operator
    app.kubernetes.io/instance: cluster
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: cluster
    app.kubernetes.io/part-of: teranode-operator
  name: mainnet-1
  namespace: mainnet-1
spec:
  image: 434394763103.dkr.ecr.eu-north-1.amazonaws.com/ubsv:v2.2.68
  asset:
    enabled: true
    spec:
      grpcIngress:
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: ast-grpc
        className: traefik-internal
        host: euw1-teranode-main-net-1-prod.ubsv.dev
      httpIngress:
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: web
        className: traefik-internal
        host: euw1-teranode-main-net-1-prod.ubsv.dev
      httpsIngress:
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-prod
          traefik.ingress.kubernetes.io/router.entrypoints: websecure
        className: traefik-internal
        host: euw1-teranode-main-net-1-prod.ubsv.dev
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
      serviceAnnotations:
        traefik.ingress.kubernetes.io/service.serversscheme: h2c
  blockAssembly:
    enabled: true
    spec:
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
  blockPersister:
    enabled: true
    spec:
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
      storageClass: fsx-lustre
      storageResources:
        requests:
          storage: 5Gi
  blockValidator:
    enabled: true
    spec:
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
  blockchain:
    enabled: true
    spec:
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
  bootstrap:
    enabled: false
    spec: {}
  coinbase:
    enabled: true
    spec:
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
  configMapName: shared-config
  legacy:
    enabled: true
    spec:
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
  miner:
    enabled: false
    spec:
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
  peer:
    enabled: true
    spec:
      grpcIngress:
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: peer-grpc
        className: traefik-internal
        host: euw1-teranode-main-net-1-prod.ubsv.dev
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
      wsIngress:
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: p2p-ws
        className: traefik-internal
        host: euw1-teranode-main-net-1-prod.ubsv.dev
      wssIngress:
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: p2p-wss
        className: traefik-internal
        host: euw1-teranode-main-net-1-prod.ubsv.dev
  propagation:
    enabled: true
    spec:
      grpcIngress:
        annotations:
          traefik.ingress.kubernetes.io/router.entrypoints: prop-grpc
        className: traefik-internal
        host: euw1-teranode-main-net-1-prod.ubsv.dev
      replicas: 1
      resources:
        limits:
          memory: 2Gi
        requests:
          cpu: 1
          memory: 1Gi
      serviceAnnotations:
        traefik.ingress.kubernetes.io/service.serversscheme: h2c
  subtreeValidator:
    enabled: true
    spec:
      replicas: 1
      resources:
        limits:
          memory: 6Gi
        requests:
          cpu: 1
          memory: 2Gi
      storageClass: fsx-lustre
      storageResources:
        requests:
          storage: 5Gi
  validator:
    enabled: false
    spec: {}
