name: Teranode main test build push

on:
  push:
    tags:
      - 'v*'
    branches:
      - master

permissions:
  contents: read
  pull-requests: read
  id-token: write

jobs:
  # Calculate version information
  calculate-version:
    runs-on: ubuntu-latest
    outputs:
      git_version: ${{ steps.version.outputs.git_version }}
      git_commit: ${{ steps.version.outputs.git_commit }}
      git_sha: ${{ steps.version.outputs.git_sha }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          fetch-depth: 0  # Fetch all history for tags
      - name: Calculate version
        id: version
        run: ./scripts/determine-git-version.sh

  # Run remote build and deploy workflow
  build-and-deploy:
    needs: calculate-version
    uses: bsv-blockchain/teranode-shared-workflows/.github/workflows/build_and_deploy.yaml@094d26c15e12b22cf035c407710dd3f1342d9fc0 # main
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      repository: ${{ github.repository }}
      tag_latest: true
      build_args: |
        GIT_VERSION=${{ needs.calculate-version.outputs.git_version }}
        GIT_COMMIT=${{ needs.calculate-version.outputs.git_commit }}
        GIT_SHA=${{ needs.calculate-version.outputs.git_sha }}
      architectures: '["amd64", "arm64"]'
      runner_labels: '{"amd64":"teranode-runner-16-core","arm64":"teranode-runner-16-core-arm","manifest":"ubuntu-latest"}'
    secrets: inherit
